{% macro character_card_macro(c) %}

    <div class="card" style="width: 18rem;">
        <img src="{{ c.img_url }}" class="card-img-top" alt="{{ c.name }} image" >
        <div class="card-body">
            <h5 class="card-title">{{ c.name}}</h5>
        </div>
    </div>

{% endmacro %}