{% extends 'base.html' %}

{% block title %}
    <h1 class="text-center">Rick and Morty</h1>
{% endblock title %}

{% block body %} {% from 'macros/character_card.html' import character_card_macro %}
    <div class="container">
        <div class="row">
            {% for c in characters %}
            <div class="col">
                {{ character_card_macro(c) }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

